*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background: #f5f6fa;
}

/* Card */
.card {
  border-radius: 12px;
  border: none;
}

/* Custom purple button */
.btn-purple {
  background: #6c63ff;
  color: white;
}

.btn-purple:hover {
  background: #574fd6;
}

/* VISA text */
.visa {
  position: absolute;
  right: 15px;
  top: 38px;
  font-weight: bold;
  color: #1a1f71;
}

/* CVC icon */
.cvc-icon {
  position: absolute;
  right: 15px;
  top: 38px;
  font-size: 18px;
  color: #888;
}